In [14]:
# 11.1

import zoo

In [15]:
zoo.hours()

Open 9-5 daily

In [18]:
# 11.2

import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [19]:
# 16.8

from sqlalchemy import create_engine, select, Table, MetaData, Column, Integer, String

In [20]:
engine = create_engine('sqlite:///books.db', echo=True)
metadata = MetaData()

In [21]:
books = Table(
    'book', metadata,
    Column('id', Integer, primary_key=True),
    Column('title', String),
    Column('author', String),
    Column('publisher', String)
)

In [22]:
metadata.create_all(engine)

2024-02-10 19:40:22,797 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-02-10 19:40:22,798 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("book")
2024-02-10 19:40:22,799 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-10 19:40:22,801 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("book")
2024-02-10 19:40:22,803 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-02-10 19:40:22,804 INFO sqlalchemy.engine.Engine
CREATE TABLE book (
	id INTEGER NOT NULL,
	title VARCHAR,
	author VARCHAR,
	publisher VARCHAR,
	PRIMARY KEY (id)
)


2024-02-10 19:40:22,805 INFO sqlalchemy.engine.Engine [no key 0.00108s] ()
2024-02-10 19:40:22,809 INFO sqlalchemy.engine.Engine COMMIT

In [23]:
with engine.connect() as conn:
    query = select([books.c.title]).order_by(books.c.title)
    result = conn.execute(query)

    for row in result:
        print(row[0])

2024-02-10 19:40:39,268 INFO sqlalchemy.engine.Engine SELECT book.title
FROM book ORDER BY book.title
2024-02-10 19:40:39,270 INFO sqlalchemy.engine.Engine [generated in 0.00174s] ()